
/*Variables*/
:root {
  --primary_header_color: #004aad;
  --button_hover_color: #56b3ff;
  --border_color: #004aad;

}

/* Enabling Norwester font */
@font-face {
  font-family: Norwester;
  src: url(fonts/norwester.otf);
}


/* Main header layout */
header{
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5vw;
  background-color: var(--primary_header_color);
  backdrop-filter: blur(4px);
  border-bottom: solid 2px var(--border_color);
  z-index: 10;
 
}



.flex-container {
    margin-right: 20%;
    /* margin-left: 0%; */
}

.flex-container a {
    background-color: rgb(255, 255, 255);
    padding: 2vh;
    border-radius: 3vh;
    margin: 1vh;
    position: relative;
    left: 0;
    top: 4vh;
    flex-direction: row;
    
}

.flex-container a:hover {
    background-color: var(--button_hover_color);
}


/* Colours of button text when/after hover/clicking */
.headerbutton { 
  text-decoration: none;
  color:#000;
  font-family: 'Norwester';
  border: solid 3px;
}

.headerbutton:visited { text-decoration: none;}
.headerbutton:hover { text-decoration: none;}
.headerbutton:focus { text-decoration: none;}
.headerbutton:hover {text-decoration: none;}
.headerbutton:active { text-decoration: none;}





/* mobile friendly / resizing */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}

#logo {
    position: relative;
    float: left;
    scale: 90%;
}


/* Dropdown menu settings */

.dropbtn {
  background-color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 3vh;
  text-decoration: none;

  font-family: "Norwester";
}

.dropdown {
  position: relative;
  float: right;
  border-radius: 3vh;
  top: -1vh;
  border: solid 3px;
  right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 2vh;
  right: 0px;
  border: solid 2px ;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--button_hover_color);
  border-radius: 1vh;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--button_hover_color);
}



