/* variables */
:root {
    --backround_color_main: #5170ff;
    --HeadTextFontSize: 75px;
    --MainBodyTextSize: 45px;
}

/* Enabling Norwester font */
@font-face {
  font-family: Norwester;
  src: url(fonts/norwester.otf);
}


p {
    font-family: 'Norwester';
    font-size: 100px;
    text-align: center;
}

.notification {
    font-family: 'Norwester';
    font-size: 20px;
    text-align: center;
    margin: 1rem auto;
}



body {
    background-color: var(--backround_color_main);
    
    background-color: var(--backround_color_main);
    
}

main {
    border: solid 2px purple;
    border-radius: 2vh;
    margin-top: 15vh;
    font-size: large;
    font-size: large;
}

.groen {
    color: rgba(39, 83, 74);
}

.paars {
    color: purple;
}

.donkergroen {
    color: rgba(23, 49, 44);
}

.roze {
    color: rgba(207, 171, 204);
}

.FAQmessage {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 700px;
    float: right;
    position: relative;
    
}

.FAQ-container {
    float:left;
    position:relative;
    width: 0px;
    gap: 10px;
    padding-top: 20px;
}

#LeftContainer > input {
    left: 50px;
    height: 20px;
    width: 160px;
}

#LeftContainer > button {
    width: 100px;
}

#MiddleContainer > input {
    width: 200px;
}

#RightContainer > input {
    height: 400px;
    width: 700px;
}

a.button {
    height: 30px;
    width: 130px;
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

/*ENABLE FONT VOOR LOSSE TEKST*/
.norwester_font {
    font-family: 'Norwester';
}

/*HOMEPAGE STYLING*/
#home_headtext1 {
    font-size: var(--HeadTextFontSize);
}

#home_mainbody1 {
    font-size: var(--MainBodyTextSize);
}



/*SKILLPAGE STYLING*/
#skill_headtext1 {
    font-size: var(--HeadTextFontSize);
    text-align: center;
}

#skill_mainbody1 {
    font-size: var(--MainBodyTextSize);
    text-align: center;
}



/*VRAAGMMAKENPAGE STYLING*/
#vraag_headtext1 {
    font-size: var(--HeadTextFontSize);
    text-align: center;
}

#vraag_headtext2 {
    font-size: 25px;
    text-align: left;
}

#select_style {
    width: 175px;
}

#vraag_headtext3{
    font-family: 'Norwester';
    font-size:25px;
}

#textbox_vraag {
    width: 250px;
    height: 100px;
    resize: none;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    box-shadow: 10px 10px 9px 3px rgba(0, 0, 0, 0.35);
}

.antwoord_container {
    width: 300px;
    height: 200px;
    resize: none;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    box-shadow: 10px 10px 9px 3px rgba(0, 0, 0, 0.35);
}

#antwoordbox_alignment_left {
    display: grid;
    gap: 5px;
    width: 350px;
    height: 250px;
    
}

#antwoordbox_alignment_right {
    display: grid;
    gap: 5px;
    width: 350px;
    height: 250px;
    
}

#MainContainer {
    align-items: center;
}

.medalgrade {
    max-width: 64px;
    max-height: 64px;
}