/* variables */
:root {
    --backround_color_main: #5170ff;
    --backround_color_table: #9f9f9f;
    --color_txt_table: rgb(0, 0, 0);
    --HeadTextFontSize: 75px;
    --MainBodyTextSize: 45px;
}

/* Enabling Norwester font */
@font-face {
  font-family: Norwester;
  src: url(fonts/norwester.otf);
}


p {
    font-family: 'Norwester';
    font-size: 100px;
    text-align: center;
}

.notification {
    font-family: 'Norwester';
    font-size: 20px;
    text-align: center;
    margin: 1rem auto;
}



body {
    background-color: var(--backround_color_main);
    
    background-color: var(--backround_color_main);
    
}

main {
    border: solid 2px rgb(0, 0, 0);
    border-radius: 2vh;
    margin-top: 15vh;
    font-size: large;
    font-size: large;
}

.groen {
    color: rgba(0, 0, 0);
}

.paars {
    color: rgb(0, 0, 0);
}

.donkergroen {
    color: rgb(0, 0, 0);
}

.roze {
    color: rgba(207, 171, 204);
}

.FAQmessage {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 700px;
    float: right;
    position: relative;
    
}

.FAQ-container {
    float:left;
    position:relative;
    width: 0px;
    gap: 10px;
    padding-top: 20px;
}

#LeftContainer > input {
    left: 50px;
    height: 20px;
    width: 160px;
}

#LeftContainer > button {
    width: 100px;
}

#MiddleContainer > input {
    width: 200px;
}

#RightContainer > input {
    height: 400px;
    width: 700px;
}

a.button {
    height: 30px;
    width: 130px;
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

/*ENABLE FONT VOOR LOSSE TEKST*/
.norwester_font {
    font-family: 'Norwester';
}

/*HOMEPAGE STYLING*/
#home_headtext1 {
    font-size: var(--HeadTextFontSize);
    font-family: 'Norwester';
    text-align: center;
}

#home_mainbody1 {
    font-size: var(--MainBodyTextSize);
}



/*SKILLPAGE STYLING*/
#skill_headtext1 {
    font-size: var(--HeadTextFontSize);
    text-align: center;
}

#skill_mainbody1 {
    font-size: var(--MainBodyTextSize);
    text-align: center;
}

#skill_input {
    align-items: center;
    
    
}

#description_skillpage {
    align-items: center;
    resize: none;
    width: 100%;
    height: 30%;
    padding:10px;
}



/*VRAAGMMAKENPAGE STYLING*/
#vraag_headtext1 {
    font-size: var(--HeadTextFontSize);
    text-align: center;
}

#vraag_headtext2 {
    font-size: 25px;
    text-align: left;
}

#select_style {
    width: 175px;
}

#vraag_headtext3{
    font-family: 'Norwester';
    font-size:25px;
}

#textbox_vraag {
    width: 250px;
    height: 100px;
    resize: none;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    box-shadow: 10px 10px 9px 3px rgba(0, 0, 0, 0.35);
}

.antwoord_container {
    width: 300px;
    height: 200px;
    resize: none;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    box-shadow: 10px 10px 9px 3px rgba(0, 0, 0, 0.35);
}

#antwoordbox_alignment_left {
    display: grid;
    gap: 5px;
    width: 350px;
    height: 250px;
    
}

#antwoordbox_alignment_right {
    display: grid;
    gap: 5px;
    width: 350px;
    height: 250px;
    
}

#MainContainer {
    position: relative;
    margin-left: 24%;
    margin-right: 24%;
}

.medalgrade {
    max-width: 64px;
    max-height: 64px;
}

.textcard_styling {
    margin-left: 24%;
    margin-right: 24%;
    font-family: 'norwester';
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 23px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

#textcard_styling_skills {
    margin-left: 24%;
    margin-right: 24%;
    font-family: 'norwester';
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 23px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    align-items: center;

}

.question {
    margin-left: 24%;
    margin-right: 24%;
    font-family: 'norwester';
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 23px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 50px;
    margin-top: 100px;
}

#submit_btn_quiz {
    text-decoration: none;
    color:#000;
    font-family: 'Norwester';
    border: solid 3px;
    border-radius: 5px;
    position: relative;
    align-items: center;
    margin-left: 47.5%;
    width: 100px;
    height: 50px
}

/*MEDALS.PHP STYLING*/
#table_positioning {
    margin-top: 50px;
    position: relative;
    margin-left: 32.5%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 5px;
}

.th_style {
    font-family: 'Norwester';
    color: rgb(0, 0, 0);
    background-color: #005bd3;
    border-color: #000;
    border: 3px solid #000000;
    border-radius: 5px;
}

.td_style {
    font-family: 'Norwester';
    width: 64px;
    height: 64px;
    color: var(--color_txt_table);
    background-color: var(--backround_color_main);
    border-color: #000;
    border: 3px solid #000000;
    border-radius: 5px;
}

td:nth-child(even){background-color: #d2d0d0;}

#login_card_styling {
    margin-left: 30%;
    margin-right: 35%;
    width: auto;
    font-family: 'Norwester';
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 23px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    left: 50px;
    position: relative;

}

#form_positiong {
    position: relative;
    text-align: center;
    width: 150px;
    margin-left: 15%;
    margin-right: 15%;
}
